* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d192c;
  width: 100vw;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}
.main {
  display: flex;
  background-color: #0d192c;
  width: 100vw;
  height: 100vh;
}
.container {
  margin: auto;
  padding: 24px;
  padding-bottom: 0%;
  border-radius: 15px;
  width: 350px;
  background-color: #15263f;
}
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 302px;
  height: 302px;
  background-color: rgba(0, 255, 248, 0.4);
  border-radius: 8px;
  top: 0;
  display: none;
  cursor: pointer;
}
header {
  position: relative;
}
header:hover > .view {
  display: flex;
}
